<!DOCTYPE html>
<!-- {% extends "site/base.html" %}

{% block content %} -->
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lincoln County Tourism site template">
    <meta name="author" content="Cameron Crook">
    <title>Lincoln County Tourism</title>
    <link rel="icon" type="image/png" href="images/SVChamber_outlines_Logo2017.png"/>
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/custom.css">

    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script> 
</head>

<body>
<div class="container-fluid bg-dark p-0">
    <div class="overlay-container">
        <video autoplay muted loop id="bannerVideo">
            <source src="images/dmp-video-1.mp4" type="video/mp4">
        </video>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="circle-wrapper">
                    <div class="circle">
                        <div class="circle-inner">
                        <img class="img img-fluid" src="images/wyMapCountyMarked.png" alt="County Location">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 text-white p-4 d-flex align-items-center">
                <p class="lead">Tucked away in Western Wyoming, Lincoln County is a land full of nature, history, and character. No matter where you are from, visiting Lincoln County will always feel like coming home. In it's classic western communities you will find American main streets lined with unique shopping, secret dining gems, and friendly smiles. Between those communities Rocky Mountain treasures lie in plain sight with world-class fishing, breathtaking scenery, and sunsets that embody the spirit of the West. Be warned, once you visit, you'll never want to leave.</p>
            </div>
        </div>
    </div>
        <!-- New Section -->
        <div class="container-fluid p-0 bg-light">
            <div class="row">
                <div class="col-md-8">
                    <img class="img img-fluid" src="images/stock-field.JPG" alt="Landscape">
                </div>
                <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <div class="container p-2 text-dark">
                        <h2>Your Western Getaway</h2>
                        <a class="btn btn-outline-info" href="#">Visit Us</a>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- New Section -->
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="display-4 text-center text-white">Visiting?</h2>
            <p>&nbsp;</p>
            <div class="card-deck mb-3">
                <div class="card bg-white mb-3 p-2">
                    <img class="card-img-top" src="images/stock-dining.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Places to Eat</h5>
                        <p class="card-text"><a class="btn btn-info" href="#">Dining</a></p>
                    </div>
                </div>
                <div class="card bg-white mb-3 p-2">
                    <img class="card-img-top" src="images/stock-snowmobile.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Things to Do</h5>
                        <p class="card-text"><a class="btn btn-info" href="#">Activities</a></p>
                    </div>
                </div>
                <div class="card bg-white mb-3 p-2">
                    <img class="card-img-top" src="images/stock-towns.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Places to See</h5>
                        <p class="card-text"><a class="btn btn-info" href="#">Destinations</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- New Section -->
    <div class="container-fluid p-0 bg-light">
        <div class="row">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <div class="container p-2 text-dark">
                    <h2>Historical Heritage</h2>
                    <a class="btn btn-outline-info" href="#">Explore our Roots</a>
                </div>
            </div>
            <div class="col-md-8">
                <img class="img img-fluid" src="images/oldPhoto1.JPG" alt="Historical photo">
            </div>
        </div>
    </div>
    <!-- New Section -->
    </p>
    <div class="jumbotron bg-secondary text-left">
        <h5 class="display-4 text-white">Come home to Lincoln County, Wyoming.</h5>
        <p class="text-white"><a class="btn btn-primary btn-lg" role="button" href="#">Plan your stay.</a></p>
    </div>
</div>
</body>
</html>
<!-- {% endblock content %} -->
